/.idea/
/*.iml

/vendor/
/vendor-bin/*/vendor/

/.php-cs-fixer.cache
/tests/.phpunit.cache

/node_modules/
/dist
/js
/css
.DS_Store
composer.lock
build/
tsconfig.app.tsbuildinfo
.env
.env.keys
.envrc
