#autocurrency-content {
  .notecard--info > div {
    a {
      text-decoration: underline;
    }

    & > p {
      color: white;

      &:first-child {
        margin-top: 0.2em;
      }

      &:last-child {
        margin-bottom: 0.2em;
      }
    }
  }
}
